<!DOCTYPE html>
<html ng-app="login_angular">
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<script src="lib/angularjs/angular.js"></script>
	<script src="js/constants.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/login.js"></script>	
	<script src="js/services/userServiceAPI.js"></script>
	<script src="js/services/authServiceAPI.js"></script>
	<script src="js/interceptors/authInterceptor.js"></script>
</head>
<body ng-controller="loginCtrl">
	<h1>Welcome to AngularJS!</h1>

	<form>
		<p>
            <strong>Username</strong>
            <input type="text" ng-model="user.username" ng-required="true">
        </p>
        <p>
            <strong>Password</strong>
            <input type="password" ng-model="user.password" ng-required="true">
        </p>

        <input type="button" value="Ver Token" ng-click="ver_token()">
        <input type="button" value="Verificar Token" ng-click="verificar_token()">
        <input type="button" value="Sair" ng-click="sair()">
        <input type="submit" value="Entrar" ng-click="autenticar(user)">

        <p>
        	<input type="text" ng-model="token_atual">
        </p>
	</form>

	<h3>Cadastrar</h3>

	<form>
		<p>
			<strong>Name</strong>
			<input type="text" ng-model="new_user.first_name">
		</p>
		<p>
			<strong>Username</strong>
			<input type="text" ng-model="new_user.username">
		</p>
		<p>
			<strong>Email</strong>
			<input type="email" ng-model="new_user.email">
		</p>
		<p>
			<strong>Password</strong>
			<input type="password" ng-model="new_user.password">
		</p>
		<p>
			<input type="submit" value="Cadastrar" ng-click="cadastrar(new_user)">
		</p>
	</form>

	<h2>Usuarios</h2>

	<ul>
		<li ng-repeat="usuario in usuarios">
			<strong>[{{usuario.username}}]</strong> {{usuario.first_name}}
		</li>
	</ul>

</body>
</html>