<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>
<body>
    <a href="{% url 'index' %}">
        <h2>Início</h2>
    </a>

    {% if form %}
    {% if form.errors %}
        <article style="color: red;">
            {{ form.errors }}
        </article>
    {% endif %}
    <form method="POST" action=".">{% csrf_token %}
        {{ form.as_p }}
        <p>
            <input type="submit" value="Cadastrar">
        </p>
    </form>
    {% endif %}
</body>
</html>