<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Início</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h1>Welcome, {{ user.first_name }}!</h1>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <form method="POST" action="{% url 'login' %}">{% csrf_token %}
        <p>
            <strong>Username</strong>
            <input type="text" name="username" required="required">
        </p>
        <p>
            <strong>Password</strong>
            <input type="password" name="password" required="required">
        </p>

        <input type="submit" value="Entrar">
    </form>

    <a href="{% url 'cadastro' %}">
        <h3>Cadastrar</h3>
    </a>
    {% endif %}
</body>
</html>